.card {
  width: 30rem;
  height: 42rem;
  border: 0.5rem solid #c7d6d5;
  overflow-y: scroll;
  overflow-x: hidden;
  transition-duration: 500ms;
  transition-property: transform;
}

.card:hover {
  transform: scale(1.05);
  border: 0.5rem solid #577573;
}

.card-subtitle {
  font-size: 2rem;
}

.card-body .worm-into {
  position: absolute;
  bottom: 5%;
  left: 35%;
}

.discount-badge {
  background-color: #ff99a5;
  width: 10rem;
  height: 2rem;
  top: 0;
  right: 0;
  transform: translate(30%, 70%) rotateZ(45deg);
}
