body {
  background-color: #f5ebe0;
  font-family: "Verdana", sans-serif;
  color: #2f2f2f;
}

.header-content-style {
  background-color: #2f2f2f;
  color: white;
  padding: 2% 0 2% 7%;
  position: relative;
}

.header-content-style a {
  color: white;
}

.logo {
  position: absolute;
  left: 2%;
  top: 8%;
}

h1 {
  font-size: 28px;
}

h3 {
  font-size: 20px;
  margin-top: 1%;
}

table,
tr,
td {
  border: 2px solid black;
}
#pricing-table-head {
  background-color: rgb(216, 181, 248);
  text-align: center;
}
#login-form-fieldset {
  width: 10%;
}

#signup-form-fieldset {
  width: 10%;
}
