@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");

@font-face {
  font-family: "Caveat";
  src: url("../assets/fonts/caveat/Caveat-VariableFont_wght.ttf")
    format("truetype-variations");
  font-weight: 100 1000;
}
@font-face {
  font-family: "Nunito sans";
  src: url("../assets/fonts/nunito-sans/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf")
    format("truetype-variations");
  font-weight: 100 1000;
}

body {
  font-family: "Monaco", sans-serif;
  color: #2f2f2f;
  padding-top: 1%;
  min-height: 100vh;
}

/*Helper classes*/

.hero-bg-semi-circle {
  z-index: -1;
}
.mt-10-custom {
  margin-top: 10rem;
}

.mt-5-custom {
  margin-top: 5rem;
}

.font-size-1-5rem {
  font-size: 1.5rem;
}

.bg-primary-custom {
  background-color: #f5ebe0;
}

.bg-secondary-custom {
  background-color: #cfdedb;
}

.btn-primary-custom {
  background-color: #cfdedb;
  border: 0.1rem solid #577573;
  border-radius: 16px;
  padding: 0.7rem 2rem;
}

.btn-primary-custom:hover {
  background-color: #cfdedb;
  border: 0.1rem solid #577573;
  box-shadow: 0 5px 5px 0.5px rgb(0, 0, 0, 0.3);
  transform: translate(0, -0.2rem);
  transition-property: transform;
  transition-duration: 0.2s;
}

.btn-primary-custom:active {
  background-color: rgb(207, 222, 219, 0.9);
}

.btn-secondary-custom {
  background-color: #f5ebe0;
  padding: 0.5rem 2rem;
  border: solid 0.15rem rgb(117, 79, 68, 0.3);
  border-radius: 16px;
  font-size: 16px;
}

.btn-secondary-custom:hover {
  border: 0.15rem solid rgb(117, 79, 68, 0.6);
  box-shadow: 0 5px 5px 0.5px rgb(0, 0, 0, 0.3);
  transform: translate(0, -0.2rem);
  transition-property: transform;
  transition-duration: 0.2s;
}

.btn-secondary-custom:active {
  background-color: #ffffff;
}

.primary-input {
  margin: 2% 0 0;
  border: solid 0.15rem rgb(117, 79, 68, 0.3);
  height: 30px;
  width: 100%;
}

.primary-input:focus {
  border: solid 0.15rem rgb(117, 79, 68, 0.6);
}

.primary-input:invalid:not(:placeholder-shown) {
  border: solid 0.15rem rgb(196, 23, 14, 0.7);
}

.primary-input::placeholder {
  font-size: 16px;
}

.d-flex {
  display: flex;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}

.d-flex-row-wrap {
  display: flex;
  flex-flow: row wrap;
}

h1 {
  font-size: 3rem;
  font-family: "Caveat", sans-serif;
}

h1::first-letter {
  font-size: 4rem;
  font-weight: 600;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}

/* Navigation */

.navbar-nav li {
  font-size: 1.2rem;
  font-weight: 600;
}
